<form action="<%=cats_url%>" method="post">
  <label for="birth_date">birth date:</label>
  <input type = "date" id = "birth_date" name = "cat[birth_date]" value = ""/>
  <br>
  <label for="color">color:</label>
  <select>
    <option selected disabled> -- Select A Color -- </option>
    <% Cat.colors.each do |color| %>
    <option value="<%= color %>"> <%= color.capitalize %> </option>
    <% end %>
  </select>
  <br>

  <label for="name">name:</label>
  <input type = "text" id = "name" name = "cat[name]" value = ""/>
  <br>

  <label for="sex">sex:</label>
  <input type = "radio" name = "sex" name = "cat[sex]" value = "M"/> M
  <input type = "radio" name = "sex" name = "cat[sex]" value = "F"/> F
  <br>

  <label for="description">description:</label>
  <textarea id = "description" name = "cat[description]"></textarea>
  <br>

  <input type="submit" value="Create New Cat">
</form>
