New User

<%= render 'shared/errors' %>

<form id="create_user_form" action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>">
  <label for = "user_name"> Username:
    <input type="text" id = "user_name" name = "user[user_name]" value=""/>
  </label>

  <label for = "password"> Password:
    <input type="password" id = "password" name = "user[password]" value=""/>
  </label>

  <button type="submit" form="create_user_form">Create Account</button>
</form>
