/* PHASE 11: Icons */

[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  padding-top: 25px;
}

[class*="icon-small-"] {
  width: 20px;
  height: 20px;
  padding: 0;
}


.icon-comment {
  height: 0;
  background-position: 0px 250px;
}

.icon-comment:hover {
  background-position: 0px 225px;
}

.icon-reblog {
  height: 0;

  background-position: 0px 150px;
}

.icon-reblog:hover {
  background-position: 0px 125px;
}

.icon-favorite {
  height: 0;

  background-position: 0px 200px;
}

.icon-favorite:hover {
  background-position: 0px 175px;
}

.icon-small-friends {
  background-position: 0px 100px;
}

.icon-small-about {
  background-position: 0px 75px;
}

.icon-small-photos {
  background-position: 0px 50px;
}

.icon-small-wall {
  background-position: 0px 25px;
}
