/* PHASE 8: Thumbs */
.friends {
  display: flex;

}

.friends li {
  max-width: 30%;
  float: left;
  margin: 3px;
}

.friends li a:hover:after {
    position: absolute;
    content:attr(title);
    left:0;
    top:0;
    width:50px;
    height:1.25rem;
    background-color: blue;
    color:white;
}

.thumb {
  display: block;
  position: relative;
  width: 58px;
  height: 58px;
  border: 1px solid black;
  border-radius: 5px;
}
